<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DesktopApplicationName</key>
    <string>Recycler</string>
    <key>DesktopApplicationSelName</key>
    <string>recycler</string>
    <key>GSReservedMountNames</key>
    <array>
	<string>proc</string>
	<string>devpts</string>
	<string>shm</string>
	<string>usbdevfs</string>
	<string>devtmpfs</string>
	<string>devpts</string>
	<string>sysfs</string>
	<string>tmpfs</string>
	<string>procbususb</string>
	<string>udev</string>
	<string>pstore</string>
	<string>cgroup</string>
    </array>
    <key>NSWindow Frame recycler_win</key>
    <string>1515 251 64 64 0 0  1920 1080 </string>
    <key>NSWindow Frame recyclerprefs</key>
    <string>449 425 362 271 0 0  1920 1080 </string>
    <key>docked</key>
    <true/>
</dict>
</plist>